.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  padding: 10px;
  border: 1px solid #ddd;
}

.form__button {
  padding: 10px;
  margin-right: 34px;
  background: #008080;
  color: white;
  border: none;
  position: relative;
}

.form__button:hover {
  transition: transform 2s ease, scale 2s ease;
  transform: translateY(-20px) scale(1.4);
}

.form__button:active {
  animation: button-flash 0.3s ease 3;
}

@keyframes button-flash {
  0%, 100% { background: #ff0000; }
  50% { background: white; }
}